distlib==0.3.5
filelock==3.7.1
imutils==0.5.4
numpy==1.23.1
opencv-contrib-python==4.6.0.66
packaging==21.3
Pillow==9.2.0
platformdirs==2.5.2
protobuf==3.19.4
pyparsing==3.0.9
PyQt3D==5.15.5
PyQt5==5.15.7
PyQt5-sip==12.11.0
PyQtChart==5.15.6
PyQtDataVisualization==5.15.5
PyQtNetworkAuth==5.15.5
PyQtPurchasing==5.15.5
PyQtWebEngine==5.15.6
pytesseract==0.3.9
virtualenv==20.16.1
